<?xml version="1.0"?>
<config>
	<modules>
		<Vsourz_Bannerslider>
			<version>0.1.1</version>
		</Vsourz_Bannerslider>
	</modules>
	<frontend>
		<routers>
			<bannerslider>
				<use>standard</use>
				<args>
					<module>Vsourz_Bannerslider</module>
					<frontName>bannerslider</frontName>
				</args>
			</bannerslider>
		</routers>
		<layout>
			<updates>
				<bannerslider>
					<file>bannerslider.xml</file>
				</bannerslider>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<bannerslider>
				<use>admin</use>
				<args>
					<module>Vsourz_Bannerslider</module>
					<frontName>bannerslider</frontName>
				</args>
			</bannerslider>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<bannerslider>
					<file>bannerslider.xml</file>
				</bannerslider>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<helpers>
			<bannerslider>
				<class>Vsourz_Bannerslider_Helper</class>
			</bannerslider>
		</helpers>
		<blocks>
			<bannerslider>
				<class>Vsourz_Bannerslider_Block</class>
			</bannerslider>
		</blocks>
		<models>
			<bannerslider>
				<class>Vsourz_Bannerslider_Model</class>
				<resourceModel>bannerslider_resource</resourceModel>
			</bannerslider>
			<bannerslider_resource>
				<class>Vsourz_Bannerslider_Model_Resource</class>
				<entities>
					<imagedetail>
						<table>bannerdetail</table>
					</imagedetail>
					<imagecategory>
						<table>bannercategory</table>
					</imagecategory>
				</entities>
			</bannerslider_resource>
		</models>
		<resources>
			<bannerslider_setup>
				<setup>
					<module>Vsourz_Bannerslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bannerslider_setup>
			<bannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerslider_write>
            <bannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerslider_read>
		</resources>
	</global>
</config>